@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
header{
    background-color: #3b3e33;
    height: 250px;
    text-align: center;
    color: azure;
    
}
header h1{
    font-size: 60px;
    padding-top: 20px;
}
header p{
    font-size: 20px;
    padding-top: 20px;
}
/* Thanh menu */

.navbar{
    max-width: 1600px;
   height: 40px;
    margin: auto;
    background-color:#228B22;
}
nav {
    flex:1;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    
}
nav ul li{
    display: inline-flex;
    position: relative;
    width: 150px;
    
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    padding: 0 30px;
    color: #fff;
}
nav ul li a:hover{
    background-color: #3b3e33;
    color: #fff;
}
/* Thanh menu con */
.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    position: absolute;
    display: block;
    margin-top: 35px;
    background-color: #228B22;
}
nav ul li:hover .sub-menu-1 ul{
    display: block;
}
nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    border-bottom:1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}