@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
.container__top{
    width: 100%;
    background-color: #1b926c;
}
.Nav__content__top{
    display: flex;
    align-items: center;
}
.logo__top{
    display: block;
    font-size: 30px;
    color: #fff;
}
nav {
    text-align: right;
    flex: 1;
}
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    position: relative;
    margin: 15px;
    width: 150px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
}
nav ul li a:hover{
    color: black;
}
.sub_menu_1{
    display: none;
}
nav ul li:hover .sub_menu_1{
    display: block;
    position: absolute;
    background-color:#1b926c;
}
nav ul li:hover .sub_menu_1 ul {
    display: block;
    text-align: left;
}
nav ul li:hover .sub_menu_1 ul li{
    width: 250px;
    padding: 10px;
    text-align: left;
}
/*----------------- Banner__Website --------------------*/
.Banner{
    width: 100%;
    cursor: pointer;
}
.fa-chevron-left{
    position: absolute;
    color:#fff;
    left: 10%;
    top: 43%;
}
.fa-chevron-right{
    position: absolute;
    color:#fff;
    right: 10%;
    top: 43%;
}
.fa:hover{
    color: black;
}
.slides{
    transition: 1s all;
}
.slides img{
    width: 100%;
}
/* Thanh chọn ngày  */
.container{
    width: 100%;
    background-color: #1b926c;
}
.row{
    display: flex;
    align-items: center;
}
.content__hero{
    margin-left: 20%;
    font-size: 20px;
}
.content__form{
    margin-left: 50px;
}
.content__form p{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 25px;
}
.input_txt{
    width: 250px;
    height: 30px;
    outline: none;
}
.btn__search{
    height: 30px;
    outline: none;
    margin-left: 20px;
}
 /* Tour Du lịch */
 .small__container{
    max-width: 1200px;
    margin:100px auto;
 }
.content__tour__hero{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
 .small__row{
     display: flex;
     justify-content: space-around;
     align-items: center;  
 }
 .col__4{
     min-width: 350px;
     height: 450px;
     flex-basis: 25%;
     background-color: #f5f5f5;
}
.col__4 img{
    width: 100%;
}
.col__4 p{
    color: red;
}
.fa-angle-right{
   font-size: 30px;
}
.fa-angle-left{
    font-size: 30px;
}
hr{
    color: #f5f5f5;
}
.holiday__Type{
    width: 100%;
    height: 380px;
    background-image: url('/img/typr_holiday/14737560533456_slider3.jpg');
    background-size: cover;
    cursor: pointer;
}
.Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Holiday__grid{
    margin-top: 100px;
    max-width: 200px;
    flex-basis: 50%;
}
.Holiday__grid img{
    width: 100%;
    border-radius:50% ;
    border: 1px solid yellow;
}
.Holiday__grid p{
    text-align: center;
    font-size: 18px;
    color: #A0522D;
}
/*---------------------- Bản tin website --------------------------*/

.content__news__pages{
    text-align: center;
    border-bottom:1px solid black;
    font-size: 40px;
}
.content__news{
    margin-top: 40px;
}
.item__news{
    width: 300px;
    height: 400px;
    background-color: #f5f5f5;
}
.item__news img{
    width: 100%;
}
.box__text{
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}
.box__text h4{
    font-size: 20px;
}

/*-------------------------- Footer ----------------------------*/
a{
    text-decoration: none;
    color: #fff;
}
.footer{
    width: 100%;
    background-color: #1b926c;
}
/*------------------------ Chân trang bên trên -------------------*/
.footer__top{
    background-color: #252525;
    color: #fff;
    height: 300px;
    cursor: pointer;
}
.footer__col__item{
    min-width: 200px;
    margin-top: 40px;
    padding-top: 20px;
}
.footer__col__item a{
    color: #fff;
    text-decoration: none;
}
.footer__col__item a:hover{
    color: red;
}
.footer__col__item h1{
    font-size: 20px;
}
.footer__col__item p{
    padding: 10px 10px 10px 0px;
}
.footer__col__item ul li{
    list-style-type: none;
}
.footer__col__item ul li a{
    padding: 20px 0 10px 0;
}
.footer__col__item h2{
    font-size: 20px;
}
.input__email{
    width: 200px;
    height: 30px;
    padding-left: 5px;
    outline-style: none;
}
.btn__form{
    outline: none;
    width: 60px;
    height: 30px;
    background-color: red;
    margin-top: 10px;
}
/*--------------------------- Chân trang dưới ------------------------------*/
.footer__bot{
    width: 100%;
    background-color: #1b926c;
    height: 40px;
}
.footer__container{
    max-width: 1200px;
    margin: auto;
}
.footer__col__item_1{
    margin-top: 10px;
}
.footer__col__item_1 p{
    font-size: 18px;
}
.footer__col__item_1 a{
    margin-left: 20px;
}
 /*----------------- x-------------x-- end --x---------------------x------------ */